@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
	box-sizing: border-box;
}

.card {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	display: flex;
	margin: 20px;
    text-align: center
}

.card p {
	opacity: 0.6;
	margin: 0;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.card h2 {
	letter-spacing: 1px;
	margin: 10px 0;
}

.card h2 span{
    
    font-size: 1.2rem
}

.card-image {
	padding: 30px;
	width: 250px;
    background-repeat: no-repeat; 
}

.card-info {
	padding: 15px;
	position: relative;
	width: 100%;
}




@media screen and (max-width: 480px) {

	.social-panel-container.visible {
		transform: translateX(0px);
	}
	
	.floating-btn {
		right: 10px;
	}
}