/****  Variables  ****/

white = #efefef;
primary-dark = #6059c6;
height = 200px;


.header {
  background: primary-dark;
  height: height;
  color: white;
}

.header img
    padding-top 5px
    width: 50px

.header-fixed {
  fixedHeight = 60px;
  background: primary-dark;
  font-size: 14px;
  position: fixed;
  line-height: fixedHeight;
  height: fixedHeight;
  text-indent: 20px;
  width: 100%;
  align-content: center
}

.header-notFixed {
  display: flex
  line-height: height;
  font-size: 28px;
  justify-content: center
  
}
